.dp{
    width: 200px; 
    height: 200px;
    background-color: rebeccapurple;
    border-radius: 200px;
    float:left;
    margin: 10px 10px 10px 100px;
}
.cor {
    font-size: 20pt;
    color:#010127;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    
}